@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,200;0,400;0,800;1,300;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Lato', sans-serif;

}

body{
  background: white;
}

li{
  list-style: none;
  cursor: pointer;
}